doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/icon.png')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Compétences
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary.px-4.py-3(href='assets/Johann_CV.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Télécharger mon CV

                        
                            // Education Section
                            section
                                h2.text-secondary.fw-bolder.mb-4 Education
                                
                                // Education Card 2
                                .card.shadow.border-0.rounded-4.mb-5
                                    .card-body.p-5
                                        .row.align-items-center.gx-5
                                            .col.text-center.text-lg-start.mb-4.mb-lg-0
                                                .bg-light.p-4.rounded-4
                                                    .text-secondary.fw-bolder.mb-2 2021 - 2024
                                                    .mb-2
                                                        .small.fw-bolder Is info
                                                        .small.text-muted Ampasamadinika
                                                    .fst-italic
                                                        .small.text-muted Diplôme de
                                                        .small.text-muted Licence professionnel 
                                            .col-lg-8
                                                div J'ai obtenu ma licence professionnelle en informatique en 2024. Ce diplôme m'a permis d'acquérir des compétences techniques avancées dans des domaines tels que le développement logiciel, la gestion de bases de données et les systèmes d'information. Au cours de ma formation, j'ai réalisé des projets pratiques en collaboration avec des entreprises, renforçant ainsi mes capacités en travail d'équipe et en résolution de problèmes. Cette expérience m'a préparé à relever les défis du secteur informatique et à contribuer efficacement à des projets innovants.
                                                
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2017 - 2020
                                                .mb-2
                                                    .small.fw-bolder Lycée téchnique professionnel
                                                    .small.text-muted Alarobia
                                                .fst-italic
                                                    .small.text-muted Diplôme de
                                                    .small.text-muted Baccalauréat
                                        .col-lg-8
                                            div J'ai obtenu mon diplôme de baccalauréat en Bac Technologique en 2020. Ce diplôme a marqué une étape cruciale dans mon parcours académique, me permettant de développer des compétences essentielles dans des domaines tels que l'informatique, la maintenance,...


                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Compétence professionnel
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Dévéloppement web fullstack
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Intégration et Automatisation zoho
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Maitrise des outils informatiques
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Workflows
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Développeur Frontend
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Développeur BackEnd
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Langages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML5 / CSS 3 (bootstrap,tailwindcss) 
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 MySQL / SQL / MariaDB
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript / JQuery / React js 
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 PHP (Symfony)
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Deluge zoho
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java (Apk android, SpringBoot)


        // Footer
        include includes/footer.pug

        include includes/scripts.pug